@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px; }
  .header__info .header__call {
    margin-left: 0; }
  .ribbon-slider {
    margin-left: -3px; }
  .ribbon .slick-prev {
    top: -48px;
    left: 850px; }
    .ribbon .slick-prev:after {
      top: 2px;
      left: 44px; } }
